*{
  margin: 0;
  box-sizing: border-box;
}

.DarkCont{
  gap: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(148,148,148,1);
  -moz-box-shadow: 0px 0px 11px 2px rgba(148,148,148,1);
   box-shadow: 0px 0px 11px -10px rgb(0, 0, 0);
   background-color:hsl(209, 23%, 22%) ;
   color: white;
}

.darkBody{
  background-color:hsl(207, 26%, 17%);
  display: flex;
  flex-direction: column;
}
.countryFilter{
  display: flex;
  justify-content: center;
  padding-top:30px;
  margin-bottom: 10px;
}
.countriesInfo h2{
  margin-bottom:20px;
}
.countriesInfo{
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  margin-left: 20px;
  margin-bottom: 60px;
  line-height: 25px;
}
.searchBar{
    background: url(../images/icons8-search-48.png)no-repeat scroll 3px 2px;
    background-size: 24px;
    background-position: left center;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    width: 100%;
    border: transparent 1px solid;
    -webkit-box-shadow: 0px 0px 11px -1px rgb(227, 227, 227);
    -moz-box-shadow: 0px 0px 11px -1px rgb(227, 227, 227);
    box-shadow: 0px 0px 11px -1px rgb(227, 227, 227);
  }
  .flagImg{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
  .searchBarDark{
    background: url(../images/icons8-search-48White.png)no-repeat scroll 3px 2px;
    background-size: 24px;
    background-position: left center;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    width: 100%;
    box-shadow: 0px 0px 11px -1px rgb(31, 31, 31);
    background-color:hsl(209, 23%, 22%) ;
    border:0;
    color: hsl(0, 0%, 100%);
  }
  .flagContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 5px;
}
.desktopContainer{
 display: flex;
 flex-direction:column;
 gap: 50px;
 margin: 50px 40px;
 justify-content:center;
}
.desktopContainerDark{
  display: flex;
  flex-direction:column;
  gap: 50px;
  margin: 50px 40px;
  justify-content:center;
}

.Container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(148,148,148,1);
  -moz-box-shadow: 0px 0px 11px 2px rgba(148,148,148,1);
   box-shadow: 0px 0px 11px 2px rgb(216, 216, 216);
}
  .regionFilter{
    margin-left:20px;
    width: 200px;

  }
  .darkRegionFil{
    margin-left:20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color:hsl(209, 23%, 22%) ;
    color: white;
  }
  .arrowDown{
    width:10px;
  }
  .NavLinks{
    text-decoration: none;
  }
 .region{
    user-select: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding: 13px;
    border: transparent 1px solid;
    box-shadow: 0px 0px 11px -1px rgb(194, 194, 194);
    cursor: pointer;
    width: 200px;
    margin-left: 20px;

   }
   .darkRegion{
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding: 13px;
    color: white;
    border: transparent 1px solid;
    box-shadow: 0px 0px 11px -4px rgb(0, 0, 0);
    width: 200px;
    margin-left: 20px;
    background-color:hsl(209, 23%, 22%) ;
    margin-bottom: 5px;
   }
   .regions button{
    cursor: pointer;
    background-color:transparent;
    border: 0px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
  }
  .darkRegions button{
    cursor: pointer;
    background-color:transparent;
    border: 0px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    color: white;
  }
   .Region-Active{
    display: flex;
    flex-direction: column;
    padding: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    border: transparent 1px solid;
    -webkit-box-shadow: 0px 0px 11px -1px rgb(227, 227, 227);
    -moz-box-shadow: 0px 0px 11px -1px rgb(227, 227, 227);
    box-shadow: 0px 0px 11px -1px rgb(227, 227, 227);
   }
   .darkAct{
    display: flex;
    flex-direction: column;
    padding: 13px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    border: 0px;
    box-shadow: 0px 0px 11px -1px transparent;

   }
   .Region-DeActive{
    display: none;
   }
   .homeImg{
    width:100%;
    height:200px;
  }
  .homeImg img{
    width:100%;
    height:100%;
    object-fit:cover;
  }
 @media screen and (min-width: 880px){
  .desktopSearchSplit{
    display: flex;
    justify-content: space-between
  }
  .countryFilter{
    width: 500px;
    margin-left:40px ;
  }
  .searchBarDark{
    height: 41px;
  }
  .region{
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 40px;

  }
  .darkRegion{
    margin-top: 30px;
    margin-bottom: 40px;
    height: auto;   
    margin-right: 60px;
  }
  .regionFilter{
    margin:-35px 60px 0 auto;
  }
  .darkRegionFil{
    margin: -35px 60px 0 auto;
  }
  .desktopContainerDark{
    display: flex;
    flex-direction: column;
    height: max-content;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
  }
  .desktopContainer{
    display: flex;
    flex-direction: column;
    height: max-content;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
  }
 
  .Container{
    width: 240px;
    height: auto;
  }
  .DarkCont{
    width: 240px;
    height: auto;
  }
  .homeImg{
    width:100%;
    height:200px;
  }
  .homeImg img{
    width:100%;
    height:100%;
    object-fit:cover;
  }
}